<header class="app-header">
    <div class="app-header__container">
        <div class="app-header__container__logo">
            <!-- <a routerLink="/"><img src="images/logo.png" alt="logo" width="80" height="60"> </a> -->
            <a class="app-header__container__logo__title" routerLink="/">
                <span style="font-size: 12px;">Online Event</span>
                <span style="font-size: 25px;">Shop</span>
            </a>
        </div>
        <nav class="app-header__container__nav-links">
            <a href="https://github.com/Isaacgc1999/OnlineEventShop">Contact</a>
        </nav>
    </div>
</header>