@use "colors" as *;

.custom-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;

    //medium screens
    @media (min-width: 768px) and (max-width: 1140px) {
        height: 540px;
    }
    //large screens
    @media (min-width: 1141px) and (max-width: 1500px) {
        height: 560px;
    }

    //extra large screens
    @media (min-width: 1501px) {
        height: 580px;
    }

    &__header{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    
        &__title {            
            font-size: 1rem;
            font-weight: bold;
            display: inline-block;
            transition: letter-spacing 0.3s ease-in-out;

            &:hover{
                color: $secondary;
                text-decoration: underline;
                cursor: pointer;
                letter-spacing: 0.03em;
            }
        }

        &__subtitle {
            .text{
                font-size: 0.8rem;
                color: rgba(0, 0, 0, 0.6);
                display: inline-block;
                transition: letter-spacing 0.3s ease-in-out;

                &:hover{
                    color: $secondary;
                    text-decoration: underline;
                    cursor: pointer;
                    letter-spacing: 0.03em;
                }
            }

        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: start;
        
    
        &__image {
            width: 100%;
            max-height: 250px; 
            object-fit: cover; 
            border-radius: 15px;
            transition: transform 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scale(0.95);
            }
        }
    
        &__dates {
            color: rgba(0, 0, 0, 0.8);
        }
    
        &__description {
            line-height: 1.6;
            text-align: justify;

            //don't show on small screens
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__button{
        display: flex;
        width: 100%;
    }
}

