
.card-info{
    display: flex;
    width: fit-content;

    mat-card{
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }
    &__content{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;

    }
}

.padded-right{
    padding-right: 1rem;
}