<div class="cart">
    <mat-card class="cart__container">
        <h2>Shopping Cart</h2>
        @if(cartItems.length === 0) {
            <p>No tickets selected in the cart.</p>
        }
        <h3>{{ eventTitle }}</h3>
        <ul>
            @for(item of cartItems; track item) {
                <li>{{ item.session.date | date:'dd/MM/yyyy' }} - {{ item.ticketQuantity }} ticket(s)
                    <button (click)="removeEvent(item.session.date)" class="delete-button">
                        <img src="/images/trash.png" alt="Delete" width="20" height="20" />
                    </button>
                </li>
            }
        </ul>
        <p>Total Tickets: {{ totalTickets }}</p>
    </mat-card>
</div>
